<%= link_to  question_path(question.id), class: "border border-green-600 h-24 rounded opacity-80 w-full mb-4 shadow-lg" do %>
  <div class='flex justify-between h-full'>
    <div class='flex items-center ml-2'><%= question.subject %></div>
    <div class='m-2 '>
      <%=render partial: 'profession', collection:question.professions, as: 'profession'%>
    </div>
  </div>
<% end %>
