<footer class="border-t-2 border-green-600 py-8">
 <div class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8 flex items-center justify-center">
      <ul class="flex flex-col space-x-1 items-center">
        <li><a href="#" class="text-green-600 hover:text-gray-300">このサイトの使い方</a></li>
        <li><a href="#" class="text-green-600 hover:text-gray-300 text-center">利用規約</a></li>
        <li><a href="#" class="text-green-600 hover:text-gray-300 text-center">プライバシーポリシー</a></li>
      </ul>
  </div>
</footer>