<header class="sticky top-0 z-10">
  <nav class="border-4 border-green-600 p-8 bg-white">
    <div class="container mx-auto flex justify-between items-center">
      <%= render 'layouts/search' %>
      <div class="flex space-x-4">
        <%= logged_in? ? render('layouts/login') : render('layouts/logout') %>
        <%= link_to  new_question_path, class: "text-green-600 hover:text-gray-300" do %>
          <div class="flex flex-col">
            <i class="fa fa-question fa-lg"></i>
            <p>質問する</p>
          </div>
        <% end %>
        <%= link_to  industries_path, class: "text-green-600 hover:text-gray-300" do %>
          <div class="flex flex-col">
            <i class="fa-solid fa-list fa-lg"></i>
            <p>カテゴリ</p>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>