<%= link_to login_path ,class: "text-green-600 hover:text-gray-300" do %>
  <div class="flex flex-col">
    <i class="fa-solid fa-right-to-bracket fa-lg"></i>
    <p>ログイン</p>
  </div>
<% end %>
<%= link_to  new_user_path, class: "text-green-600 hover:text-gray-300" do %>
  <div class="flex flex-col">
    <i class="fa-regular fa-address-card fa-lg"></i>
    <p>新規登録</p>
  </div>
<% end %>
