<header  class="sticky top-0">
 <nav class="border-8 border-green-600 p-8 bg-white">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to "教えて先輩!", root_path, class: "text-green-600 hover:text-gray-300 text-3xl font-fine" %>

    <div class="flex space-x-4">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="flex flex-col text-green-600 hover:text-gray-300">
          <i class="fa-solid fa-circle-user fa-2x"></i>
          <p><%= current_user.name %></p>
        </label>
        <div tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><%= link_to "プロフィール", user_path(current_user),class: "text-green-600 hover:text-gray-300"%></li>
          <li><%= link_to "ログアウト", logout_path, class: "text-green-600 hover:text-gray-300", data: { turbo_method: :delete } %></li>
        </div>
      </div>
      <a href="#" class="text-green-600 hover:text-gray-300">質問する</a>
    </div>
  </div>
 </nav>
 </header>