<header class="sticky top-0 z-10">
 <nav class="border-8 border-green-600 p-8 bg-white">
  <div class="container mx-auto flex justify-between items-center">
    <%= link_to "教えて先輩!", root_path, class: "text-green-600 hover:text-gray-300 text-3xl font-fine" %>

    <div class="flex space-x-4">
      <%= link_to  "#", class: "text-green-600 hover:text-gray-300" do %>
        <div class="flex flex-col">
          <i class="fa-regular fa-address-card fa-lg"></i>
          <p>プロフィール</p>
        </div>
      <% end %>
      <%= link_to  logout_path, class: "text-green-600 hover:text-gray-300", data: { turbo_method: :delete } do %>
        <div class="flex flex-col">
          <i class="fa-regular fa-address-card fa-lg"></i>
          <p>ログアウト</p>
        </div>
      <% end %>
      <a href="#" class="text-green-600 hover:text-gray-300">質問する</a>
    </div>
  </div>
 </nav>
 </header>